<!doctype html>
<html>
<head>
  <title>A Response</title>
</head>
<body>
<h1>Great! Let's play!</h1>
<form action="/madlib"><br>

What's your favorite color?
<select name="color">
    <option value="yellow"> Yellow </option>
    <option value="purple"> Purple </option>
    <option value="lightpink"> Light Pink </option>
    <option value="Blue"> Blue </option>
</select><br>

Select a noun?
<select name="noun">
    <option value='porcupine'>porcupine</option>
    <option value="balloonicorn">balloonicorn</option>
    <option value ="coffeecup">coffee cup</option>
    <option value='watermelon'>watermelon</option>
</select> <br>

Select your favorite character from the list.
<select name="person">
    <option value="Henry"> Henry </option>
    <option value="Grace Hopper"> Grace Hopper </option>
    <option value="Jessica"> Jessica </option>
    <option value="Joel"> Joel </option>
</select><br>

Pick an adjective from the list.
<select name="adjective">
    <option value="awesome"> awesome</option>
    <option value="pythonic"> pythonic </option>
    <option value="firey"> firey</option>
    <option value="explosive"> explosive </option>
</select><br>
<input type="submit">
</form>


    

</body>
</html>